.nav-mobile {

    &__checkbox {
        display: none;
    }

    &__button {
        position: fixed;
        top: 3rem;
        right: 3rem;
        z-index: 1500;
        text-align: center;
        cursor: pointer;
    }

    &__icon {
        position: relative;
        margin-top: 1rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 1.5px;
            background-color: $color-black;
            display: inline-block;
            transition: all .2s;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before { top: -.8rem; }
        &::after { top: .8rem; }
    }

    &__background {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: $color-black;
        top: 0;
        left: -100%;
        z-index: 800;
        transition: left .6s cubic-bezier(0.86, 0, 0.07, 1);
        padding-top: 12rem;
        padding-bottom: 5rem;
        overflow: scroll;
    }

    &__nav {
        //margin-top: 12rem;
        width: 100%;
    }

    &__list {
        list-style: none;
        width: 23rem;
        margin: 0 auto;
    }

    &__item {
        margin: 1rem 0;

        &:hover + .nav-mobile__sublist {
            display: block;
            max-height: 200px;
        }
    }

    &__link {
        &,
        &:link,
        &:visited {
            display: inline-block;
            width: 100%;
            text-decoration: none;
            color: $color-white;
            text-transform: uppercase;
            font-size: 3rem;
            transition: all .2s;

            span {
                color: transparent;
            }
        }

        &:hover,
        &:active,
        &:hover > span,
        &:active > span {
            color: $color-primary;
        }

       

    }

    &__contact {
        width: 14rem;
        margin: 0 auto;
        margin-top: 5rem;

        p {
            color: $color-primary;
            font-weight: 600;
            font-size: 1.4rem;
            span {
                font-weight: 300;
            }
        }

    }

    &__social {
        display: flex;
        justify-content: space-around;
        border-top: 0.5px solid $color-primary;
        padding: 2rem 0;
        width: 14rem;

        img {
            display: inline-block;
            height: 3rem;
        }
    }

    // FUNCIONALITY
    &__checkbox:checked ~ &__background {
        left: 0;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
        background-color: $color-primary;
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
        background-color: $color-primary;
    }

    // SUBMENU STYLES 
    &__sublist {
        list-style: none;
        overflow: hidden;
        max-height: 0;
        transition: all .5s ease-out;

        li {
            padding: 0 3rem;
        }

        a,
        a:link,
        a:visited {
            color: $color-primary;
            white-space: nowrap;
            display: block;
        }

        a:hover {
            color: $color-white;
        }

        &:hover {
            display: block;
            max-height: 200px;
        }

    }
}