$main-font: 'Poppins', sans-serif;

$color-white: #fff;
$color-black: #000000;
$color-primary: #b56a94;
$color-secondary: #9b9b9b;
$color-tertiary: #cccccc;

$body-font-size: 1.6rem;
$body-font-size-sm: 1.4rem;